/LoadImageApp/nbproject/private/
/LoadImageApp/build/
/LoadImageApp/dist/
/EjemploLunes/nbproject/private/
/EjemploLunes/build/
/EjemploLunes/dist/
/LoadWav/nbproject/private/
/LoadWav/build/
/LoadWav/dist/